<div class="ui inverted menu p-3">
    <a href="http://localhost:4000/home" class="item <%= activeHome %> ">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <a href="http://localhost:4000/home/profile" class="item <%= activeProfile %> ">
        Profile
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a id="logout" class="ui item">
            Logout
        </a>
    </div>
</div>